{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
<div class="container mb-6 mb-md-8">
  <div class="o-inner-container o-inner-container--large mx-auto">
    <a href="{{ "/blog/" | relURL }}" class="u-fs-small text-primary mb-1 d-inline-block">Back to Blog</a>
    <h1 class="u-fs-huge text-white mb-5 mt-1">{{ .Title }}</h1>
  </div>
</div>

{{/* Featured image lookup */}}
{{ $featuredImage := false }}
{{ if .Params.featured_image }}
  {{ $featuredImage = .Resources.Get .Params.featured_image }}
  {{ if not $featuredImage }}
    {{ $featuredImage = .Resources.GetMatch (printf "*%s*" .Params.featured_image) }}
  {{ end }}
{{ else }}
  {{ $featuredImage = .Resources.GetMatch "featured.*" }}
  {{ if not $featuredImage }}
    {{ $featuredImage = .Resources.GetMatch "thumbnail.*" }}
  {{ end }}
{{ end }}

<div class="container pb-6 pb-lg-8">
  <div class="o-inner-container o-inner-container--large mx-auto">
    <div class="row">
      <div class="col-md-8 col-lg-9 pr-md-4 pr-lg-6 mb-4 mb-md-0">
        <div class="c-wp text-white">
          {{ if $featuredImage }}
          <div class="text-center mb-5">
            <img src="{{ $featuredImage.RelPermalink }}" alt="{{ .Title }}" class="mw-100" />
          </div>
          {{ end }}

          <div class="mb-6">
            {{ .Content }}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="bg-primary-dark-2 p-5">
          <ul class="list-unstyled">
            {{ with .Date }}
            <li class="list-unstyled-item mb-3">
              <p class="text-primary mb-1 u-fs-tiny">Date:</p>
              <time datetime="{{ .Format "2006-01-02" }}"  class="text-white">{{ .Format "2 January 2006" }}</time>
            </li>
            {{ end }}
            {{ with .Params.categories }}
            {{ $categories := . }}
            <li class="list-unstyled-item mb-3">
              <p class="text-primary mb-1 u-fs-tiny">Categories:</p>
              {{ range $index, $category := $categories }}
                <a href="{{ (printf "/categories/%s/" ($category | urlize)) | relURL }}" class="text-white">{{ $category }}</a>{{ if lt $index (sub (len $categories) 1) }}, {{ end }}
              {{ end }}
            </li>
            {{ end }}
            {{ with .Params.tags }}
            {{ $tags := . }}
            <li class="list-unstyled-item mb-3">
              <p class="text-primary mb-1 u-fs-tiny">Tags:</p>
              <span>
                {{ range $index, $tag := $tags }}{{ $tag }}{{ if lt $index (sub (len $tags) 1) }}, {{ end }}{{ end }}
              </span>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{{/* Navigation: Previous and Next posts */}}
{{ $prev := .PrevInSection }}
{{ $next := .NextInSection }}

{{ if or $prev $next }}
<div class="pt-8 pt-md-9">
  <div class="row">
    <div class="col-sm-6">
      {{ if $prev }}
        {{ $prevFeaturedImage := false }}
        {{ if $prev.Params.featured_image }}
          {{ $prevFeaturedImage = $prev.Resources.Get $prev.Params.featured_image }}
          {{ if not $prevFeaturedImage }}
            {{ $prevFeaturedImage = $prev.Resources.GetMatch (printf "*%s*" $prev.Params.featured_image) }}
          {{ end }}
        {{ else }}
          {{ $prevFeaturedImage = $prev.Resources.GetMatch "featured.*" }}
          {{ if not $prevFeaturedImage }}
            {{ $prevFeaturedImage = $prev.Resources.GetMatch "thumbnail.*" }}
          {{ end }}
        {{ end }}
        
        <a href="{{ $prev.RelPermalink }}" class="blog-post-nav-link blog-post-nav-link--prev"{{ if $prevFeaturedImage }} style="background-image: url('{{ $prevFeaturedImage.RelPermalink }}');"{{ end }}>
          <div class="blog-post-nav-content">
            <span class="blog-post-nav-label">Previous</span>
            <span class="blog-post-nav-title">{{ $prev.Title }}</span>
          </div>
        </a>
      {{ end }}
    </div>
    <div class="col-sm-6 text-right">
      {{ if $next }}
        {{ $nextFeaturedImage := false }}
        {{ if $next.Params.featured_image }}
          {{ $nextFeaturedImage = $next.Resources.Get $next.Params.featured_image }}
          {{ if not $nextFeaturedImage }}
            {{ $nextFeaturedImage = $next.Resources.GetMatch (printf "*%s*" $next.Params.featured_image) }}
          {{ end }}
        {{ else }}
          {{ $nextFeaturedImage = $next.Resources.GetMatch "featured.*" }}
          {{ if not $nextFeaturedImage }}
            {{ $nextFeaturedImage = $next.Resources.GetMatch "thumbnail.*" }}
          {{ end }}
        {{ end }}
        
        <a href="{{ $next.RelPermalink }}" class="blog-post-nav-link blog-post-nav-link--next"{{ if $nextFeaturedImage }} style="background-image: url('{{ $nextFeaturedImage.RelPermalink }}');"{{ end }}>
          <div class="blog-post-nav-content">
            <span class="blog-post-nav-label">Next</span>
            <span class="blog-post-nav-title">{{ $next.Title }}</span>
          </div>
        </a>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
{{ end }}

