<header class="site-header">
  <div class="header-inner">
    <a href="{{ "/" | relURL }}" class="logo">
      {{ if fileExists "static/img/logo.svg" }}
      <img src='{{ "img/logo.svg" | relURL }}' alt="General Arcade">
      {{ else }}
      <img src='{{ "img/logo.png" | relURL }}' alt="General Arcade">
      {{ end }}
    </a>

    <nav class="main-nav">
    <ul>
      {{ range .Site.Menus.main }}
      <li>

        {{ $isActive := eq $.RelPermalink (.URL | relURL) }}

        <a href="{{ .URL | relURL }}"
           class="c-nav-underline {{ if $isActive }}active{{ end }}">
           {{ .Name }}
        </a>

      </li>
    {{ end }}
  </ul>
</nav>
  </div>
</header>
