<header class="site-header">
  <div class="header-inner">
    <a href="{{ "/" | relURL }}" class="logo">
      {{ if fileExists "static/img/logo.svg" }}
      <img src='{{ "img/logo.svg" | relURL }}' alt="General Arcade">
      {{ else }}
      <img src='{{ "img/logo.png" | relURL }}' alt="General Arcade">
      {{ end }}
    </a>

    <!-- Desktop navigation - scrolls with header -->
    <nav class="desktop-nav">
      {{ range .Site.Menus.main }}
        {{ if hasPrefix .URL "#" }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ else }}
          <a href="{{ .URL | relURL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>

    <button class="hamburger-toggle js-menu-toggle" aria-label="Toggle menu" aria-expanded="false">
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
      <span class="hamburger-line"></span>
    </button>
  </div>
</header>
