{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
<div class="c-home-header"></div>

<div class="container mb-5 mb-md-8 mb-lg-10">
  <div class="o-inner-container o-inner-container--small mx-auto">
    <div class="text-center text-white mb-5 mb-lg-7">
      <h1 class="u-fs-huge mb-5">{{ .Title }}</h1>
      <p>{{ .Params.description }}</p>
    </div>
    <div class="c-separator c-separator--small mx-auto"></div>
  </div>
</div>

<div class="container mb-md-8 mb-lg-10">
  <div class="row align-items-center">
    <div class="col-md-7 col-lg-6 mb-6 mb-md-0">
      <div class="o-inner-container o-inner-container--small mx-auto text-center text-md-left">
        <h2 class="u-fs-large mb-4">Who we are</h2>
        <div class="c-wp text-primary pr-md-4">
          {{ .Summary }}
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-6">
      <img src="{{ "/img/who-we-are-ga.jpg" | relURL }}" alt="" class="mw-100" />
    </div>
  </div>
</div>

{{/* Render content from _index.md which includes shortcodes */}}
{{ .Content }}
{{ end }}
