{{ define "title" }}{{ .Title }}{{ end }}
{{ define "main" }}
<div class="c-home-header"></div>

<div class="container mb-5 mb-md-8 mb-lg-10">
  <div class="o-inner-container o-inner-container--small mx-auto">
    <div class="text-center text-white mb-5 mb-lg-7">
      <h1 class="u-fs-huge mb-5">{{ .Title }}</h1>
      <p>{{ .Params.description }}</p>
    </div>
    <div class="c-separator c-separator--small mx-auto"></div>
  </div>
</div>

<div class="container mb-md-8 mb-lg-10">
  <div class="row align-items-center">
    <div class="col-md-7 col-lg-6 mb-6 mb-md-0">
      <div class="o-inner-container o-inner-container--small mx-auto text-center text-md-left">
        <h2 class="u-fs-large mb-4">Who we are</h2>
        <div class="c-wp text-primary pr-md-4">
          {{ .Content }}
        </div>
      </div>
    </div>
    <div class="col-md-5 col-lg-6">
      <img src="{{ "/img/who-we-are-ga.jpg" | relURL }}" alt="" class="mw-100" />
    </div>
  </div>
</div>

{{/* Services Section */}}
<div class="c-services-home mb-8">
  <div class="container text-center">
    <h2 class="u-fs-huge text-center mb-6 mb-lg-8">Services</h2>
    <div class="services-grid-home">
      {{ $servicesPage := .Site.GetPage "section" "services" }}
      {{ if $servicesPage }}
        {{ $servicesContent := $servicesPage.Content }}
        {{ if $servicesContent }}
          {{ $servicesContent }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>

{{/* Projects Section */}}
<div class="c-projects-home mb-9 mb-lg-10">
  <h2 class="u-fs-huge text-center mb-6 mb-lg-8">Projects</h2>
  <div class="mb-8">
    <div class="projects-grid-home">
      {{ $projects := where .Site.RegularPages "Section" "projects" }}
      {{ $projects = $projects | first 9 }}
      {{ range $projects }}
      <article class="project-card" data-platforms="{{ range .Params.platforms }}{{ . | urlize }} {{ end }}">
        <a href="{{ .RelPermalink }}" class="project-card-link">
          {{ $featuredImage := false }}
          {{ if .Params.featured_image }}
            {{ $featuredImage = .Resources.Get .Params.featured_image }}
            {{ if not $featuredImage }}
              {{ $featuredImage = .Resources.GetMatch (printf "*%s*" .Params.featured_image) }}
            {{ end }}
          {{ else }}
            {{ $featuredImage = .Resources.GetMatch "featured.*" }}
            {{ if not $featuredImage }}
              {{ $featuredImage = .Resources.GetMatch "thumbnail.*" }}
            {{ end }}
          {{ end }}
          
          <div class="project-card__background" {{ if $featuredImage }} style="background-image: url('{{ $featuredImage.RelPermalink }}');" {{ end }}></div>
          <div class="project-card__overlay"></div>
          <div class="project-card__description">
            {{ if .Params.platforms }}
            <span class="project-card__platforms">
              {{ $platforms := .Params.platforms }}
              {{ range $index, $platform := $platforms }}{{ $platform }}{{ if lt $index (sub (len $platforms) 1) }}, {{ end }}{{ end }}
            </span>
            {{ end }}
            <h3 class="project-card__title">{{ .Title }}</h3>
          </div>
          <div class="project-card__more">
            <div class="project-card__button">Read more</div>
          </div>
        </a>
      </article>
      {{ end }}
    </div>
  </div>
  <div class="text-center">
    <a href="{{ "/projects/" | relURL }}" class="c-button">View all projects</a>
  </div>
</div>

{{/* Testimonials Section */}}
<div class="container mb-8 mb-lg-9 pt-lg-6">
  <h2 class="u-fs-huge text-center mb-6 mb-lg-8">What our clients say</h2>
  <div class="c-testimonials-wrapper">
    <div class="c-testimonials js-testimonials-carousel mb-4 mb-lg-0">
      <div class="c-testimonial">
        <div class="c-wp text-primary c-testimonial__content">
          <span class="text-white d-inline">"</span>General Arcade have been longtime collaborators and we see the team as some of our most trusted partners working on titles like Duke Nukem: Megaton Edition, Metal Wolf Chaos XD with From Software, and some unannounced projects. Our team cannot recommend the General Arcade group enough and look forward to working with them for years to come.<span class="text-white d-inline">"</span>
        </div>
      </div>
      <div class="c-testimonial">
        <div class="c-wp text-primary c-testimonial__content">
          <span class="text-white d-inline">"</span>We have worked with General Arcade to bring ION FURY to console. They are professional, dedicated and just a really great partner to work with. We are extremely proud and satisfied with the end result, and we look forward to doing a lot more projects together!<span class="text-white d-inline">"</span>
        </div>
      </div>
      <div class="c-testimonial">
        <div class="c-wp text-primary c-testimonial__content">
          <span class="text-white d-inline">"</span>We have worked closely with Gennadii and the team at General Arcade for a number of years on a wide range of projects including Shadowgate, Pitfall Planet and the 8-bit Adventure Anthology adaptations. We have always found them incredibly knowledgeable and professional, with a good eye for building long-term beneficial partnerships with studios like Abstraction. Their work is delivered on-time, to budget and with great care for project and client alike.<span class="text-white d-inline">"</span>
        </div>
      </div>
      <div class="c-testimonial">
        <div class="c-wp text-primary c-testimonial__content">
          <span class="text-white d-inline">"</span>General Arcade have worked alongside our own developers for many years ago, and have helped us face down many and varied coding challenges. I would not hesitate to recommend them to others. They are talented, courteous, efficient and all round great people.<span class="text-white d-inline">"</span>
        </div>
      </div>
      <div class="c-testimonial">
        <div class="c-wp text-primary c-testimonial__content">
          <span class="text-white d-inline">"</span>We've worked with General Arcade on all kinds of projects: from fixing some old forgotten classics to preparing for the release of a major IP on our platform in close collaboration with a publishing partner. Despite all challenges, I never doubted the team and we can't be happier working with them.<span class="text-white d-inline">"</span>
        </div>
      </div>
      <div class="c-testimonial">
        <div class="c-wp text-primary c-testimonial__content">
          <span class="text-white d-inline">"</span>General Arcade delivered exceptional results in porting our game to Xbox, PS5, and Switch. Their attention to detail, prompt communication, and commitment to quality ensured a smooth and successful launch across all systems. General Arcade's contributions have been invaluable, and I look forward to working with them again in the future.<span class="text-white d-inline">"</span>
        </div>
      </div>
    </div>
    <div class="c-testimonials-controls">
      <div class="c-testimonials-controls__button c-testimonials-controls__button--prev js-testimonials-carousel-prev-slide"></div>
      <div class="c-testimonials-controls__button c-testimonials-controls__button--next js-testimonials-carousel-next-slide"></div>
    </div>
    <div class="c-navigation-carousel js-navigation-carousel">
      <div class="c-navigation-carousel__slide">
        <div class="c-navigation-carousel__icon">
          <img src="{{ "/img/devolver.png" | relURL }}" alt="Devolver Digital" />
        </div>
        <div class="c-navigation-carousel__details">
          <span>Devolver Digital</span>
          <span>Nigel Lowrie</span>
        </div>
      </div>
      <div class="c-navigation-carousel__slide">
        <div class="c-navigation-carousel__icon">
          <img src="{{ "/img/3d-realms.png" | relURL }}" alt="3D Realms" />
        </div>
        <div class="c-navigation-carousel__details">
          <span>3D Realms</span>
          <span>Mike Nielsen</span>
        </div>
      </div>
      <div class="c-navigation-carousel__slide">
        <div class="c-navigation-carousel__icon">
          <img src="{{ "/img/abstraction.png" | relURL }}" alt="Abstraction" />
        </div>
        <div class="c-navigation-carousel__details">
          <span>Abstraction</span>
          <span>Ralph Egas</span>
        </div>
      </div>
      <div class="c-navigation-carousel__slide">
        <div class="c-navigation-carousel__icon">
          <img src="{{ "/img/indie-stone.png" | relURL }}" alt="Indie Stone" />
        </div>
        <div class="c-navigation-carousel__details">
          <span>Indie Stone</span>
          <span>Will Porter</span>
        </div>
      </div>
      <div class="c-navigation-carousel__slide">
        <div class="c-navigation-carousel__icon">
          <img src="{{ "/img/gog.png" | relURL }}" alt="GOG" />
        </div>
        <div class="c-navigation-carousel__details">
          <span>GOG</span>
          <span>Artem Shchuiko</span>
        </div>
      </div>
      <div class="c-navigation-carousel__slide">
        <div class="c-navigation-carousel__icon">
          <img src="{{ "/img/bluemanchu.png" | relURL }}" alt="Blue Manchu" />
        </div>
        <div class="c-navigation-carousel__details">
          <span>Blue Manchu</span>
          <span>Jay Kyburz</span>
        </div>
      </div>
    </div>
  </div>
</div>

{{/* Clients & Partners Section */}}
<div class="container">
  <h2 class="u-fs-huge text-center mb-6 mb-lg-8">Clients & Partners</h2>
  <ul class="c-partners">
      {{ $logos := slice "larian.png" "devolver.png" "unity.png" "gog.png" "3d-realms.png" "from-software.png" "capcom.png" "sega.png" "square-enix.png" "aspyr.png" "irregular-corporation.png" "vlambeer.png" "indie-stone.png" "ice-pick.png" "ysbryd.png" "roll-7.png" "pocketwatch.png" "kongregate.png" "gentlebros.png" "abstraction.png" "fullbright.png" "plug-in-digital.png" "playism.png" "messhof.png" "505.png" "tinybuild.png" }}
      {{ range $logos }}
        {{ $img := $.Resources.Get . }}
        {{ if not $img }}
          {{ $img = $.Resources.GetMatch (printf "*%s*" .) }}
        {{ end }}
        {{ $altText := . | replaceRE `\.png$` "" | replaceRE `[-_]` " " | title }}
        {{ if $img }}
          <li class="c-partners__item"><img src="{{ $img.RelPermalink }}" alt="{{ $altText }}" /></li>
        {{ else }}
          <li class="c-partners__item"><img src="{{ (printf "/img/%s" .) | relURL }}" alt="{{ $altText }}" /></li>
        {{ end }}
      {{ end }}
    </ul>
</div>
{{ end }}
