<div class="c-projects-home mb-9 mb-lg-10">
  <h2 class="u-fs-huge text-center mb-6 mb-lg-8">Projects</h2>
  <div class="mb-8 mt-5">
    <div class="projects-grid-home">
      {{ $projectsSection := $.Page.Site.GetPage "section" "projects" }}
      {{ if $projectsSection }}
        {{ $sorted := sort $projectsSection.Pages "Weight" "desc" }}
        {{ $projects := first 9 $sorted }}

        {{ range $projects }}
          <article class="project-card" data-platforms="{{ range .Params.platforms }}{{ . | urlize }} {{ end }}">
            <a href="{{ .RelPermalink }}" class="project-card-link">
              
              {{ $featuredImage := false }}
              {{ if .Params.featured_image }}
                {{ $featuredImage = .Resources.Get .Params.featured_image }}
                {{ if not $featuredImage }}
                  {{ $featuredImage = .Resources.GetMatch (printf "*%s*" .Params.featured_image) }}
                {{ end }}
              {{ else }}
                {{ $featuredImage = .Resources.GetMatch "featured.*" }}
                {{ if not $featuredImage }}
                  {{ $featuredImage = .Resources.GetMatch "thumbnail.*" }}
                {{ end }}
              {{ end }}
              
              <div class="project-card__background" {{ if $featuredImage }} style="background-image: url('{{ $featuredImage.RelPermalink }}');" {{ end }}></div>
              <div class="project-card__overlay"></div>
              <div class="project-card__description">
                {{ if .Params.platforms }}
                <span class="project-card__platforms">
                  {{ $platforms := .Params.platforms }}
                  {{ range $index, $platform := $platforms }}{{ $platform }}{{ if lt $index (sub (len $platforms) 1) }}, {{ end }}{{ end }}
                </span>
                {{ end }}
                <h3 class="project-card__title">{{ .Title }}</h3>
              </div>
              <div class="project-card__more">
                <div class="project-card__button">Read more</div>
              </div>
            </a>
          </article>
        {{ end }}
      {{ end }}
    </div>
  </div>
  <div class="projects-load-more">
    <a href="{{ "/projects/" | relURL }}" class="projects-load-more-btn">View all projects</a>
  </div>
</div>


